mixin htmx
  script.
    htmx.process(document.documentElement);

mixin route(path = '', handlers = '[]', template = null, fullHeight = true)
  template(x-route=`/${path}` x-template=template x-handler=handlers)
    if !template
      div(id=`${path}Route` class=fullHeight ? 'min-h-full h-full': '')
        block
